:root {
	--primaryColor: #1774ce;
	--secondaryColor: #0c549a;
}

* {
    margin: 0;
    padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
}

main {
	overflow: hidden;
	padding: 20px 50px;
}

h1 {
	text-align: center;
	margin: 20px 0px;
	font-size: 50px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.46);
}

.card {
	width: 500px;
	margin: auto;
	padding: 10px 30px 0px 30px;
	color: white;
	background-color: var(--primaryColor);
	border: 1.5px solid var(--secondaryColor);
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
	overflow: hidden;
}

.card-header {
	margin-bottom: 5px;
	padding: 10px 0px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.62);
}

.card-body { padding: 20px 0px; }

input[type="number"], input[type="date"] {
	width: 95.5%;
	padding: 10px;
	border: 1px solid white;
	border-radius: 3px;
	font-weight: bold;
}

p { margin-top: 10px; }

.controlTab {
	display: flex;
	position: relative;
	top: 2px;
	width: 564px;
	margin: auto;
}

.controlTab button {
	width: 25.65%;
	padding: 10px 20px;
	background-color: var(--primaryColor);
	color: white;
	border: 1px solid var(--secondaryColor);
	cursor: pointer;
	margin-right: -5px;
	transition-property: background-color;
	transition-duration: .5s;
}

.controlTab button:hover { background-color: #248bef; }

#card-math, #card-trivia, #card-date, #card-year {
	animation-name: fade;
	animation-duration: 1.5s;
}

.active { background-color: red; }

@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	
	to { 
		opacity: 1;
		transform: scale(1);
	}
}